body {
    margin: 0;
    padding: 0;
    font-family: verdana,arial,helvetica,sans-serif;
    text-align: left;
}

.sponsored {
    color: #5f99cf;
}

.center-align { text-align:center; }
.left-align { text-align: left; }
.right-align { text-align: right; }

header {
    position: relative;
    background-color: #CEE3FD;
    z-index: 3;
}

header .grid-container {
    padding-bottom:10px;
}

#logo {
    padding-top:10px;
}

#now-playing-title {
    padding-top: 25px;
    padding-bottom: 0;
}

#add-channel {
    padding-top: 25px;
    padding-bottom: 0;
}

#video-list {
    background-color:rgba(.3,.3,.3,.5);
    border:none;
    overflow-y: hidden;
    position: absolute;
    float: left;
    z-index: 2;
    transition: top .5s;
    -webkit-transition: top .5s;
    padding-top: 105px;
    margin-top: -100px;
}

#video-list img, #video-list .thumbnail {
    height:100%;
    width:158px;
    margin-right: 10px;
    margin-bottom:20px;
    background-size: 100%;
    background-position: center center;
    float: left;
}

#video-list .thumbnail.focus {
    height:calc(100% - 12px);
    width:146px;
    background-size: calc(100% + 12px);
}

#video-view {
    background-color: #252525;
    min-height:660px;
    overflow: hidden;
}

#video-view embed {
    width:100%;
    height:620px;
    position: relative;
}

#video-description {
    margin-bottom: 10px;
}

#video-meta {
    margin:5px 0;
}

#video-sponsored-label {
    display: none;
}

#video-title, #video-title a {
    color:#fff;
    text-decoration: none;
}

#video-actions {
    color:#5f99cf;
}