body {
    margin: 0;
    padding: 0;
    font-family: verdana,arial,helvetica,sans-serif;
    text-align: left;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.sponsored {
    color: #5f99cf;
}

.center-align { text-align:center; }
.left-align { text-align: left; }
.right-align { text-align: right; }

header {
    position: relative;
    background-color: #CEE3FD;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    z-index: 3;
}

header .grid-container {
    padding-bottom:10px;
    height:50px;
}

#logo {
    padding-top:3px;
}

#now-playing-title {
    padding-top: 15px;
    padding-bottom: 0;
}

input.add-channel {
    margin-top: 15px;
    margin-right: 45px;
    padding-bottom: 0;
    font-size: 15px;
}

#video-list {
    width: 100%;
    height: 100px;
    background-color:rgba(70,70,70,.7);
    border: none !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    position: absolute;
    float: left;
    z-index: 2;
    transition: top .5s;
    -webkit-transition: top .5s;
    padding: 5px;
    white-space: nowrap;
    text-align: center;
}

#video-list.scrollbar {
    overflow-x: hidden !important;
}

#video-list-scrollbar {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 100px);
    height: 5px;
}

#video-list.scrollbar #video-list-scrollbar {
    display: block;
}

#video-list-scrollbar .ui-slider-handle {
    position: relative;
    display: block;
    width: 100px;
    height: 5px;
    background-color: rgba(206, 227, 248, 0.5);
}

#video-list-scrollbar .ui-slider-handle:hover, #video-list.scrolling #video-list-scrollbar .ui-slider-handle {
    background-color: #5f99cf;
}

#video-list::-webkit-scrollbar {
      height: 5px;
}

#video-list::-webkit-scrollbar-track {
    background-color: #b46868;
    background-color: transparent;
} /* the new scrollbar will have a flat appearance with the set background color */
#video-list::-webkit-scrollbar-thumb {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color: rgba(206, 227, 248, 0.5);
    width: 100px;
    transition: background-color 0.3s;
} /* this will style the thumb, ignoring the track */
#video-list::-webkit-scrollbar-thumb:hover {
    background-color: #5f99cf;
}
#video-list::-webkit-scrollbar-button {
      display: none;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
#video-list::-webkit-scrollbar-corner {
      background-color: transparent;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

#video-list img, #video-list .thumbnail {
    height:85px;
    /*width:158px;*/
    min-width:113px;
    max-width:150px;
    width:150px;
    margin-right: 10px;
    margin-bottom:20px;
    background-size: 100%;
    background-position: center center;
    display: inline-block;
    cursor: pointer;
}

#video-list .thumbnail.focus {
    /*height:100%;*/
    background-size: calc(100% + 12px);
}

.nsfw_thumb {
    display: none;
}

#vid-list-tooltip {
    position: absolute;
    top: 141px;

    background: #88b7d5;
    border: 1px solid #c2e1f5;
    padding: 5px;
    min-width: 160px;
    max-width: 494px;
    text-align: center;
    border-radius: 5px;
}
#vid-list-tooltip:after, #vid-list-tooltip:before {
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#vid-list-tooltip:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}
#vid-list-tooltip:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}

#video-container, #add-channel {
    margin-top: 10px;
    height: 660px;
    max-height: 660px;
    overflow: hidden;
}

#video-view {
    background-color: #252525;
    min-height:660px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#video-view embed {
    width:100%;
    height:620px;
    position: relative;
}

#video-description {
    margin-bottom: 10px;
}

#video-meta {
    margin:5px 0;
}

#video-sponsored-label {
    display: none;
}

#video-title, #video-title a {
    color:#fff;
    text-decoration: none;
}

#video-actions {
    color:#5f99cf;
}

#header-right {
    position: relative;
}

#settings {
    position: absolute;
    top: 0;
    right: 10px;
}

#settings img {
    margin-top: 15px;
    width:25px;
}

#settings #options:before { /* Invisible hover area */
    content: '';
    height: 55px;
    position: absolute;
    top: -55px;
    left: 0;
    width: 200px;
}

#settings #options {
    display: none;
    position: absolute;
    background: #CEE3FD;

    width: 200px;
    padding: 10px 0;
    margin: 6px 0 0 -10px;
 
    border: 1px solid rgba(0,0,0,0.5);
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
}

#settings:hover #options {
    display: block;
}

#options label {
    display: block;
    margin-bottom: 5px;
    padding: 0 10px;
    cursor: pointer;
}

#options label:hover {
    background: rgba(255,255,255,0.2);
}

#options label span {
    float: left;
}

#add-channel {
    display: none;
    font-size: 20pt;
    position: relative;
}

#add-channel .type {
    height: 330px;
    border: 1px solid #a00;
    border-radius: 10px;
    float: left;
    text-align: center;
    color: #fff;
    background: black;
    line-height: 330px;
}

#add-channel .type.selected {
    background: gray;
}

#add-channel .channel-name {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 30pt;
    border: 1px solid #000;
}

#channel-recs {
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
}

.channels a.channel {
    display: block;
    color: #013f79;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.channels .channel .thumbnail {
    background: #5f99cf none center center no-repeat;
    background-size: calc(100% + 12px);
    border: 6px solid transparent;
    width: 100%;
    height: 120px;

    transition: border 0.1s;
    -webkit-transition: border 0.1s;
}

.channels .channel.loading {
    background: none;
}

.channels .channel.loading .thumbnail {
    background-image: url(../img/channel-loader.gif);
    background-size: auto;
}

.channels .channel.focus .thumbnail, .channels .channel:hover .thumbnail {
    border-color: #5f99cf;
}


/* Media queries */
@media (max-width: 1330px) {
    #settings #options {
        position: absolute;
        right: -10px;
    }

}