body {
    margin: 0;
    padding: 0;
    font-family: verdana,arial,helvetica,sans-serif;
    text-align: left;
}

.sponsored {
    color: #5f99cf;
}

.center-align { text-align:center; }
.left-align { text-align: left; }
.right-align { text-align: right; }

header {
    background-color: #CEE3FD;
}

header .grid-container {
    padding-bottom:10px;
}

#logo {
    padding-top:10px;
}

#video-list {
    background-color:rgba(.3,.3,.3,.5);
    border:none;
    overflow-y: hidden;
    position: absolute;
    float: left;
    z-index: 2;
}

#video-list img {
    height:80%;
    margin-right: 10px;
    margin-bottom:20px;
}

#video-view {
    background-color: #252525;
    height:660px;
    overflow: hidden;
}

#video-view embed {
    width:100%;
    position: relative;
}

#video-meta {
    margin:5px 0;
}

#video-title, #video-title a {
    color:#fff;
    text-decoration: none;
}

#video-actions {
    color:#5f99cf;
}